[submodule "bootstrap/bootstrap-treeview"]
	path = bootstrap/bootstrap-treeview
	url = https://github.com/jonmiles/bootstrap-treeview
[submodule "bootstrap/bootstrap-switch"]
	path = bootstrap/bootstrap-switch
	url = https://github.com/nostalgiaz/bootstrap-switch
[submodule "bootstrap/bootstrap-table-examples"]
	path = bootstrap/bootstrap-table-examples
	url = https://github.com/wenzhixin/bootstrap-table-examples
[submodule "bootstrap/bootstrap-table"]
	path = bootstrap/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
[submodule "bootstrap/multiple-select"]
	path = bootstrap/multiple-select
	url = https://github.com/wenzhixin/multiple-select.git
[submodule "bootstrap/bootstrap-modal"]
	path = bootstrap/bootstrap-modal
	url = https://github.com/jschr/bootstrap-modal
[submodule "bootstrap/bootstrap-select"]
	path = bootstrap/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select
[submodule "bootstrap/bootstrap"]
	path = bootstrap/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "bootstrap/x-editable"]
	path = bootstrap/x-editable
	url = https://github.com/vitalets/x-editable
[submodule "bootstrap/bootstrap-datetimepicker"]
	path = bootstrap/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker
[submodule "bootstrap/bootstrap-hover-dropdown"]
	path = bootstrap/bootstrap-hover-dropdown
	url = https://github.com/CWSpear/bootstrap-hover-dropdown
[submodule "bootstrap/twitter-bootstrap-typeahead"]
	path = bootstrap/twitter-bootstrap-typeahead
	url = https://github.com/tcrosen/twitter-bootstrap-typeahead
[submodule "c/C-Buffered-tree"]
	path = c/C-Buffered-tree
	url = https://github.com/yuyuyu101/C-Buffered-tree
[submodule "network/libuv"]
	path = network/libuv
	url = https://github.com/joyent/libuv
[submodule "network/Libevent"]
	path = network/Libevent
	url = https://github.com/nmathewson/Libevent
[submodule "c/strsplit.c"]
	path = c/strsplit.c
	url = https://github.com/jwerle/strsplit.c
[submodule "c/strndup"]
	path = c/strndup
	url = https://github.com/clibs/strndup
[submodule "c/strdup"]
	path = c/strdup
	url = https://github.com/clibs/strdup
[submodule "c/trim.c"]
	path = c/trim.c
	url = https://github.com/stephenmathieson/trim.c
[submodule "c/substr.c"]
	path = c/substr.c
	url = https://github.com/stephenmathieson/substr.c
[submodule "c/str-starts-with.c"]
	path = c/str-starts-with.c
	url = https://github.com/stephenmathieson/str-starts-with.c
[submodule "c/str-replace.c"]
	path = c/str-replace.c
	url = https://github.com/stephenmathieson/str-replace.c
[submodule "c/str-flatten.c"]
	path = c/str-flatten.c
	url = https://github.com/stephenmathieson/str-flatten.c
[submodule "c/str-ends-with.c"]
	path = c/str-ends-with.c
	url = https://github.com/stephenmathieson/str-ends-with.c
[submodule "c/wildcardcmp"]
	path = c/wildcardcmp
	url = https://github.com/clibs/wildcardcmp
[submodule "c/occurrences.c"]
	path = c/occurrences.c
	url = https://github.com/stephenmathieson/occurrences.c
[submodule "c/clibs"]
	path = c/clibs
	url = https://github.com/BurntSushi/clibs
[submodule "c/libCello"]
	path = c/libCello
	url = https://github.com/orangeduck/libCello
[submodule "c/ex_string"]
	path = c/ex_string
	url = https://github.com/wuhong1986/ex_string.git
[submodule "c/mkdirp.c"]
	path = c/mkdirp.c
	url = https://github.com/stephenmathieson/mkdirp.c
[submodule "c/path-normalize.c"]
	path = c/path-normalize.c
	url = https://github.com/stephenmathieson/path-normalize.c
[submodule "c/path-join.c"]
	path = c/path-join.c
	url = https://github.com/stephenmathieson/path-join.c
[submodule "c/path-basename.c"]
	path = c/path-basename.c
	url = https://github.com/michaelrhodes/path-basename.c
[submodule "c/ex_clib"]
	path = c/ex_clib
	url = https://github.com/wuhong1986/ex_clib.git
[submodule "c/ex_file.c"]
	path = c/ex_file.c
	url = https://github.com/wuhong1986/ex_file.c.git
[submodule "nosql/hiredis"]
	path = nosql/hiredis
	url = https://github.com/redis/hiredis
[submodule "nosql/redis-tools"]
	path = nosql/redis-tools
	url = https://github.com/antirez/redis-tools
[submodule "c/murmurhash.c"]
	path = c/murmurhash.c
	url = https://github.com/jwerle/murmurhash.c
[submodule "c/sha1"]
	path = c/sha1
	url = https://github.com/clibs/sha1
[submodule "c/sha256.c"]
	path = c/sha256.c
	url = https://github.com/jb55/sha256.c
[submodule "c/cstl"]
	path = c/cstl
	url = https://wuhong1986@github.com/wuhong1986/cstl
[submodule "c/commander"]
	path = c/commander
	url = https://github.com/clibs/commander
[submodule "c/term"]
	path = c/term
	url = https://github.com/clibs/term
[submodule "c/inih"]
	path = c/inih
	url = https://github.com/clibs/inih
[submodule "c/usleep.h"]
	path = c/usleep.h
	url = https://github.com/jwerle/usleep.h
[submodule "c/rotate-bits.h"]
	path = c/rotate-bits.h
	url = https://github.com/jb55/rotate-bits.h
[submodule "c/cutils"]
	path = c/cutils
	url = https://wuhong1986@github.com/wuhong1986/cutils
[submodule "network/anet.c"]
	path = network/anet.c
	url = https://github.com/jb55/anet.c
[submodule "c/log.h"]
	path = c/log.h
	url = https://github.com/thlorenz/log.h
[submodule "c/array-avl-tree"]
	path = c/array-avl-tree
	url = https://github.com/willemt/array-avl-tree
[submodule "c/http-parser"]
	path = c/http-parser
	url = https://github.com/brendanashworth/http-parser
[submodule "c/zlib"]
	path = c/zlib
	url = https://github.com/georgy7/zlib
[submodule "c/amp"]
	path = c/amp
	url = https://github.com/clibs/amp
[submodule "c/endian.h"]
	path = c/endian.h
	url = https://github.com/mikepb/endian.h
[submodule "c/red-black-tree"]
	path = c/red-black-tree
	url = https://github.com/clibs/red-black-tree
[submodule "nosql/redis-py"]
	path = nosql/redis-py
	url = https://github.com/andymccurdy/redis-py
[submodule "javascript/jquery-validation"]
	path = javascript/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation
[submodule "c/threadpool"]
	path = c/threadpool
	url = https://github.com/jlcordeiro/threadpool
[submodule "c/timestamp"]
	path = c/timestamp
	url = https://github.com/clibs/timestamp
[submodule "c/timer"]
	path = c/timer
	url = https://github.com/clibs/timer
[submodule "c/event-timer"]
	path = c/event-timer
	url = https://github.com/willemt/event-timer
[submodule "javascript/jquery"]
	path = javascript/jquery
	url = git://github.com/jquery/jquery.git
[submodule "network/protobuf"]
	path = network/protobuf
	url = https://github.com/google/protobuf
[submodule "nosql/redis"]
	path = nosql/redis
	url = https://github.com/antirez/redis
[submodule "c/tinyxml2"]
	path = c/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "php/CodeIgniter"]
	path = php/CodeIgniter
	url = https://github.com/bcit-ci/CodeIgniter
[submodule "python/python"]
	path = python/python
	url = https://github.com/python-git/python
[submodule "google/ReplaceGoogleCDN"]
	path = google/ReplaceGoogleCDN
	url = https://github.com/justjavac/ReplaceGoogleCDN
[submodule "nginx/ngx_http_google_filter_module"]
	path = nginx/ngx_http_google_filter_module
	url = https://github.com/cuber/ngx_http_google_filter_module
[submodule "books/free-programming-books"]
	path = books/free-programming-books
	url = https://github.com/vhf/free-programming-books
[submodule "books/The-Art-Of-Programming-By-July"]
	path = books/The-Art-Of-Programming-By-July
	url = https://github.com/julycoding/The-Art-Of-Programming-By-July
[submodule "nginx/nginx-book"]
	path = nginx/nginx-book
	url = https://github.com/taobao/nginx-book
[submodule "nginx/nginx"]
	path = nginx/nginx
	url = https://github.com/nginx/nginx
[submodule "cpp/jsoncpp"]
	path = cpp/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "cpp/ArduinoJson"]
	path = cpp/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "cpp/json"]
	path = cpp/json
	url = https://github.com/nlohmann/json
[submodule "cpp/jsonnet"]
	path = cpp/jsonnet
	url = https://github.com/google/jsonnet
[submodule "nginx/ngx_http_substitutions_filter_module"]
	path = nginx/ngx_http_substitutions_filter_module
	url = https://github.com/yaoweibin/ngx_http_substitutions_filter_module
[submodule "javascript/cryptico"]
	path = javascript/cryptico
	url = https://github.com/wwwtyro/cryptico
[submodule "c/json-c"]
	path = c/json-c
	url = https://github.com/json-c/json-c
[submodule "c/json-parser"]
	path = c/json-parser
	url = https://github.com/udp/json-parser
[submodule "c/cJSONFiles"]
	path = c/cJSONFiles
	url = https://github.com/ysboss/cJSONFiles
