[submodule "bootstrap/bootstrap-treeview"]
	path = bootstrap/bootstrap-treeview
	url = https://github.com/jonmiles/bootstrap-treeview
[submodule "bootstrap/bootstrap-switch"]
	path = bootstrap/bootstrap-switch
	url = https://github.com/nostalgiaz/bootstrap-switch
[submodule "bootstrap/bootstrap-table-examples"]
	path = bootstrap/bootstrap-table-examples
	url = https://github.com/wenzhixin/bootstrap-table-examples
[submodule "bootstrap/bootstrap-table"]
	path = bootstrap/bootstrap-table
	url = https://github.com/wenzhixin/bootstrap-table.git
[submodule "bootstrap/multiple-select"]
	path = bootstrap/multiple-select
	url = https://github.com/wenzhixin/multiple-select.git
[submodule "bootstrap/bootstrap-modal"]
	path = bootstrap/bootstrap-modal
	url = https://github.com/jschr/bootstrap-modal
[submodule "bootstrap/bootstrap-select"]
	path = bootstrap/bootstrap-select
	url = https://github.com/silviomoreto/bootstrap-select
[submodule "bootstrap/bootstrap"]
	path = bootstrap/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "bootstrap/x-editable"]
	path = bootstrap/x-editable
	url = https://github.com/vitalets/x-editable
[submodule "bootstrap/bootstrap-datetimepicker"]
	path = bootstrap/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker
[submodule "bootstrap/bootstrap-hover-dropdown"]
	path = bootstrap/bootstrap-hover-dropdown
	url = https://github.com/CWSpear/bootstrap-hover-dropdown
[submodule "bootstrap/twitter-bootstrap-typeahead"]
	path = bootstrap/twitter-bootstrap-typeahead
	url = https://github.com/tcrosen/twitter-bootstrap-typeahead
[submodule "c/C-Buffered-tree"]
	path = c/C-Buffered-tree
	url = https://github.com/yuyuyu101/C-Buffered-tree
[submodule "network/libuv"]
	path = network/libuv
	url = https://github.com/joyent/libuv
[submodule "network/Libevent"]
	path = network/Libevent
	url = https://github.com/nmathewson/Libevent
[submodule "c/strsplit.c"]
	path = c/strsplit.c
	url = https://github.com/jwerle/strsplit.c
[submodule "c/strndup"]
	path = c/strndup
	url = https://github.com/clibs/strndup
[submodule "c/strdup"]
	path = c/strdup
	url = https://github.com/clibs/strdup
[submodule "c/trim.c"]
	path = c/trim.c
	url = https://github.com/stephenmathieson/trim.c
[submodule "c/substr.c"]
	path = c/substr.c
	url = https://github.com/stephenmathieson/substr.c
[submodule "c/str-starts-with.c"]
	path = c/str-starts-with.c
	url = https://github.com/stephenmathieson/str-starts-with.c
[submodule "c/str-replace.c"]
	path = c/str-replace.c
	url = https://github.com/stephenmathieson/str-replace.c
[submodule "c/str-flatten.c"]
	path = c/str-flatten.c
	url = https://github.com/stephenmathieson/str-flatten.c
[submodule "c/str-ends-with.c"]
	path = c/str-ends-with.c
	url = https://github.com/stephenmathieson/str-ends-with.c
[submodule "c/wildcardcmp"]
	path = c/wildcardcmp
	url = https://github.com/clibs/wildcardcmp
[submodule "c/occurrences.c"]
	path = c/occurrences.c
	url = https://github.com/stephenmathieson/occurrences.c
[submodule "c/clibs"]
	path = c/clibs
	url = https://github.com/BurntSushi/clibs
[submodule "c/libCello"]
	path = c/libCello
	url = https://github.com/orangeduck/libCello
[submodule "c/ex_string"]
	path = c/ex_string
	url = https://github.com/wuhong1986/ex_string.git
[submodule "c/mkdirp.c"]
	path = c/mkdirp.c
	url = https://github.com/stephenmathieson/mkdirp.c
[submodule "c/path-normalize.c"]
	path = c/path-normalize.c
	url = https://github.com/stephenmathieson/path-normalize.c
[submodule "c/path-join.c"]
	path = c/path-join.c
	url = https://github.com/stephenmathieson/path-join.c
[submodule "c/path-basename.c"]
	path = c/path-basename.c
	url = https://github.com/michaelrhodes/path-basename.c
[submodule "c/ex_clib"]
	path = c/ex_clib
	url = https://github.com/wuhong1986/ex_clib.git
[submodule "c/ex_file.c"]
	path = c/ex_file.c
	url = https://github.com/wuhong1986/ex_file.c.git
[submodule "nosql/hiredis"]
	path = nosql/hiredis
	url = https://github.com/redis/hiredis
[submodule "nosql/redis-tools"]
	path = nosql/redis-tools
	url = https://github.com/antirez/redis-tools
